@font-face {
	font-family: ParryHotter;
	src: url(../fonts/ParryHotter.ttf);
}

html {
	min-height: 100%;
	display: block;
}

.jumbotron {
	background-color: maroon;
}
.h1 {
	font-family: 'ParryHotter', Times, serif;
	color: yellow;

}
.firstRow {
	font-weight: bold;
	border-bottom: 2px solid #444;
}

.newRow {
	padding: 8px 15px;
	border-bottom: 1px solid #999;
}
input {
	padding: 5px 10px;
	width: 100%;
	margin: 10px 0;
}

input[type="submit"] {
	background-color: blue;
	color: #fff;
	text-align: center;
	width: 10%;
}

.footer {
	height: 40px;
	padding: 10px;
	color: #fff;
	text-align: center;
	position: absolute;
	bottom: 0;
	background-color: #5566aa;
	width: 100%;
}